<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search by Search word</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous" />
</head>

<body class="d-flex justify-content-center align-items-center vh-100">
    <div class="container-fluid">
        <!-- Navbar -->
        <nav style="background-color: rgb(92, 175, 92);" class="navbar navbar-expand-lg navbar-dark fixed-top ml-4">
            <div class="container" style="margin-left: 200px;">
                <a class="navbar-brand" href="#">App</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
        <div class="row flex-nowrap">
            <div style="background-color: rgb(92, 175, 92);" class="col-auto col-md-3 col-xl-2 px-sm-2 px-0">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <a href="/"
                        class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline"></span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
                        id="menu">
                        <li class="nav-item">
                            <a href="#" class="nav-link align-middle px-0">
                                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline"></span>
                            </a>
                        </li>
                        <li>
                            <a href="../series/series.html" data-bs-toggle="collapse"
                                class="nav-link px-0 align-middle text-white">
                                <i class="fs-4 bi-speedometer2">Season</i> <span class="ms-1 d-none d-sm-inline"></span>
                            </a>

                            <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline"></span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline"></span></a>
                        </li>
                        <li>
                            <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                                <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline"></span></a>
                            <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline"></span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline"></span> </a>
                            <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span>
                                        1</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span>
                                        2</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span>
                                        3</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span>
                                        4</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline"></span>
                            </a>
                        </li>
                    </ul>
                    <hr>
                    <div class="dropdown pb-4">
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                            <li><a class="dropdown-item" href="#">New project...</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Sign out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--Formulario Search y tarjeta-->
            <form class="d-flex" id="app" style="margin-top: 80px;">
                <div class="row">
                    <div style="width: 320px;" class="col">
                        <input class="form-control" list="movieOptions" type="text" v-model="keyword"
                            @input="searchMoviesAndSeries" placeholder="Buscar películas y series por palabra">
                        <datalist id="movieOptions">
                            <option v-for="result in results" :value="result.original_title || result.original_name">
                            </option>
                        </datalist>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-outline-success" type="button" @click="selectMovie">Search</button>
                    </div>
                    <!-- Detalles Pelicula -->
                    <div style="margin-top: -180px;">

                        <ul class="cards" style="list-style: none; padding: 0;">
                            <li class="cards_item" v-for="result in results">
                                <div class="card" v-if="itemSelected" style="margin-bottom: 20px;">
                                    <div class="row">
                                        <div class="col-md-3"> <!-- Columna para la imagen -->
                                            <img :src="'https://image.tmdb.org/t/p/w500/' + result.backdrop_path"
                                                :alt="result.original_title" class="img-fluid" >
                                        </div>
                                        <div class="col-md-5"> <!-- Columna para la descripción -->
                                            <div class="card_content">
                                                <h2 class="card_title">{{result.original_title}}</h2>
                                                <p class="card_text">{{result.overview}}</p>
                                                
                                                <!-- Enlace para mostrar los detalles de la serie -->
                                                <a href="#" @click="showSeriesDetail(result)">{{ showLess ? 'See less' : 'See more' }}</a>
                                                
                                                <!-- Mostrar los detalles de la serie -->
                                                <div v-if="seriesDetail">
                                                    <h3>Series Details</h3>
                                                    <ul>
                                                        <li v-for="genre in seriesDetail.genres"><strong>Categories:</strong>{{ genre.name }}</li>
                                    
                                                        <li><strong>Rating:</strong> {{ seriesDetail.vote_average }}</li>
                                                        <li><strong>Number of Seasons:</strong> {{ seriesDetail.number_of_seasons }}</li>
                                                        <li><strong>Number of Episodes:</strong> {{ seriesDetail.number_of_episodes }}</li>
                                                        <li><strong>Popularity:</strong> {{ seriesDetail.popularity }}</li>

                                        
                                                        <!--<li><strong>Trailer:</strong> <a>Watch tráiler</a></li>-->
                                                    </ul>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </form>

        </div>

    </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script>
    const apiKey = '98889f0b373adb5db5d857c612fd38ea';
    const baseUrl = 'https://api.themoviedb.org/3';
    new Vue({
        el: '#app',
        data: {
            keyword: '',
            results: [],
            movies: [],
            itemSelected: false, // rastrear si se seleccionó un elemento
            selectedSeasonId: null, // Rastrear la temporada seleccionada
            episodes: [],
            seriesDetail: null,
            trailerUrl: '',
            showLess: false,
        },
        methods: {
            searchMoviesAndSeries: function () {

                const searchUrl = `${baseUrl}/search/multi?api_key=${apiKey}&query=${this.keyword}&sort_by=popularity.desc`;

                fetch(searchUrl)
                    .then(response => response.json())
                    .then(data => {
                        // Filtra los resultados para mostrar solo series de televisión (media_type: 'tv')
                        this.results = data.results.filter(result => result.media_type === 'tv');

                        // Actualiza el datalist solo con los nombres de las series de televisión
                        const dataList = document.getElementById('movieOptions');
                        dataList.innerHTML = ''; // Limpia el datalist
                        this.results.forEach(result => {
                            const option = document.createElement('option');
                            option.value = result.original_title || result.original_name;
                            dataList.appendChild(option);
                        });
                    })
                    .catch(error => {
                        console.error('Error al realizar la solicitud:', error);
                    });
            },
            selectMovie: function () {
                // Busca la serie de televisión seleccionada en los resultados
                const selectedSeries = this.results.filter(result =>
                    (result.original_title === this.keyword || result.original_name === this.keyword)
                );

                if (selectedSeries.length > 0) {
                    // Limpia los resultados anteriores y agrega la serie de televisión seleccionada a la tarjeta
                    this.movies = selectedSeries;
                    this.itemSelected = true; // Establece que se ha seleccionado un elemento
                }
            },
            showSeriesDetail: function (result) {
                
                if (this.seriesDetail) {
                    this.seriesDetail = null;
                    this.showLess = false;
                } else {
                    const seriesId = result.id;
                    const seriesDetailUrl = `${baseUrl}/tv/${seriesId}?api_key=${apiKey}&language=en-US`;

                    fetch(seriesDetailUrl)
                        .then(response => response.json())
                        .then(data => {
                            // Asigna los detalles de la serie a tu propiedad seriesDetail
                            this.seriesDetail = {
                                genres: data.genres,
                                vote_average: data.vote_average,
                                number_of_seasons: data.number_of_seasons,
                                number_of_episodes: data.number_of_episodes,
                                popularity: data.popularity,
                            };
                            this.showLess = true;
                        })
                        .catch(error => {
                            console.error('Error al obtener los detalles de la serie:', error);
                        });
                }
            },
            showSeasonDetail: function (seasonId) {
                if (this.selectedSeasonId === seasonId) {
                    // Si se hace clic en el mismo enlace, oculta los detalles de la temporada
                    this.selectedSeasonId = null;
                    this.episodes = [];
                } else {
                    // Realiza una solicitud para buscar la serie por el nombre
                    const seriesSearchUrl = `${baseUrl}/search/tv?api_key=${apiKey}&query=${this.keyword}&language=en-US`;

                    fetch(seriesSearchUrl)
                        .then(response => response.json())
                        .then(data => {
                            if (data.results.length > 0) {
                                // Obtén el ID de la serie de la primera serie encontrada en los resultados
                                const seriesId = data.results[0].id;
                                console.log('ID de la serie:', seriesId); // Agregar este console.log
                                
                                // Define las opciones para la solicitud
                                const options = {
                                    method: 'GET',
                                    headers: {
                                        'Content-Type': 'application/json',
                                    },
                                };
                                fetch('https://api.themoviedb.org/3/tv/seriesId?language=en-US', options)
                                    .then(response => response.json())
                                    .then(response => console.log(response))
                                    .catch(err => console.error(err));

                                // La URL para obtener los detalles de la temporada
                                const seasonUrl = `${baseUrl}/tv/${seriesId}?api_key=${apiKey}&language=en-US`;

                                // Realiza una solicitud a la API de TMDb para obtener los detalles de la serie y sus episodios
                                fetch(seasonUrl)
                                    .then(response => response.json())
                                    .then(data => {
                                        // Aquí tendrás los detalles de la serie y sus episodios
                                        console.log('Detalles de la serie y episodios:', data);
                                        // Asigna los episodios obtenidos de la API
                                        this.episodes = data.seasons.find(season => season.season_number === seasonId).episodes;
                                    })
                                    .catch(error => {
                                        console.error('Error al obtener los detalles de la serie y sus episodios:', error);
                                    });
                            } else {
                                console.error('No se encontró la serie en los resultados de búsqueda.');
                            }
                        })
                        .catch(error => {
                            console.error('Error al buscar la serie:', error);
                        });

                    this.selectedSeasonId = seasonId;
                }
            }

        }
    });
</script>

</html>